@page "/inventories"

<h3>Inventory List</h3>
<br />
<br />

<InventoryListComponent>
</InventoryListComponent>
<br />
<br />
<a href="/inventories/add" class="btn btn-primary">Add Inventory</a>

@code {

}
