@if (this.Inventory is not null)
{
    <tr>
        <td>@Inventory.Name</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price</td>
        <td>
            <a href="/inventories/edit/@Inventory.InventoryId" class="btn btn-light">Edit</a>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Inventory? Inventory { get; set; }
}
